body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #FEFCF7;
  margin: 1.5rem 4rem;
  height: 70vh;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  gap: 4rem;
  font-weight: bold;
}

.head a{
  text-decoration: none;
  color: #83888F;
  padding: 0 1rem;
  border-radius: 2rem;
}

.head a:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
}

.form-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in{
    background-color: #1a1a1a;
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
  }

.title{
  color: #00bfff;
  font-size: 2rem;
}

.log-in-content input{
    display: flex;
    align-items: center;
    width: 18.3rem;
    color: white;
  }

.log-in-content span{
    color: rgb(167, 167, 167);
}

.log-in-content label input{
  padding: 5px;
  background-color: rgb(59, 58, 58);
  border-radius: 6px;
}

.forgot{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.forgot a{
    color: rgb(192, 192, 192);
}

.submit{
  color: white;
  background-color: #00bfff;
  border-style: none;
  border-radius: 6px;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  transition: background-color 0.5s;
}
  
  .submit:hover{
    background-color: #067ca3;
  }

  .submit a{
    padding: 0.5rem 7.95rem;
    text-decoration: none;
    color: black;
  }
  
.sign-in{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: rgb(167, 167, 167);
}

.sign-in a{
  text-decoration: none;
  color: #00bfff;;
  margin-left: 0.5rem;
}

.footer-container{
  background-color: #2C343E;
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container img{
  width: 15rem;
}

.footer-navbar ul{
  display: flex;
  gap: 3rem ;
  list-style: none;
}

.footer-navbar ul li a{
  text-decoration: none;
  color: #83888F;
  font-weight: 900;
  padding: 1rem 1rem;
  border-radius: 10rem;
}

.footer-navbar ul li a:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
}

.footer-social-media ul{
  display: flex;
  gap: 3rem ;
  list-style: none;
}

.footer-social-media ul li img{
  width: 2rem;
}